/*.jimu-widget-demo div:first-child{*/
  /*color: black;*/
  /*/!*font-weight:700;*!/*/
  /*font-size:small;*/
/*}*/
.sub_layer{
  margin-left: 20px;
}
.simpleGeocoder .esriGeocoder{
  /*margin-left: 30px;*/
}
#wasteSlider{
  z-index: 0;
  position: absolute;
}

.btnInset{
  border: inset;
}

/*#runBtn{*/

  /*box-sizing: border-box;*/
  /*border-width: 2px;*/
  /*border-style: outset;*/
  /*border-color: green;*/
/*}*/


